@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

:root {
    --slate-900: #1F314F;
    --slate-500: #68778D;
    --slate-300: #D5E1EF;
    --white: #ffffff;

    --font-size-regular: 15px;
    --font-weight-regular: normal;
    --line-height-regular: 1.4;

    --font-size-bold: 22px;
    --font-weight-bold: bold;
    --line-height-bold: 1.2;

    --spacing-big: 40px;
    --spacing-medium: 24px;
    --spacing-small: 16px;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

/* *** */

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;

    font-family: 'Outfit', monospace;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-regular);

    background-color: var(--slate-300);
}

main {
    max-width: 320px;
    padding: var(--spacing-small)
            var(--spacing-small)
            var(--spacing-big)
            var(--spacing-small);
    background-color: var(--white);
    border-radius: 20px;
}

main img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

main h1 {
    font-size: var(--font-size-bold);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-bold);
    color: var(--slate-900);
    margin-top: var(--spacing-medium);
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
    text-align: center;
}

main p {
    color: var(--slate-500);
    margin-top: var(--spacing-small);
    margin-top: var(--spacing-medium);
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
    text-align: center;
}
